* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background: #001e4d;
}
.app {
  background: #fff;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  padding: 30px;
  border-radius: 10px;
  font-weight: 800;
  text-align: center;
}
.app h1 {
  font-size: 25px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}
.quiz {
  padding: 20px 0;
}
.quiz h2 {
  font-size: 20px;
  color: #001e4d;
  font-weight: 800;
}
.btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border-radius: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover:not(:disabled) {
  background: #222;
  color: #fff;
  transform: scale(1.09);
}
.btn:disabled{
    cursor: no-drop;
}
/* #next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border-radius: 10px;
    margin: 20px auto 0;
    padding: 10px ;
    cursor: pointer;
    border: 0;
    display: block;
} */
#next-btn {
  width: 200px;
  font-weight: 500;
  display: none;
  border: none;
  margin: 20px auto 0;
  padding: 0.8em 2.5em;
  font-size: 18px;
  outline: none;
  color: white;
  font-style: 1.2em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}

#next-btn:before,
#next-btn:after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10em;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 105%;
  height: 105%;
  content: "";
  z-index: -2;
  background-size: 400% 400%;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}

#next-btn:before {
  -webkit-filter: blur(7px);
  filter: blur(7px);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-animation: pulse 10s infinite ease;
  animation: pulse 10s infinite ease;
}

#next-btn:after {
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
}

#next-btn:hover:before {
  width: 115%;
  height: 115%;
}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}

